pandas
bs4
ankipandas
requests
seaborn
mecab-python3
ipadic
numpy
streamlit
scikit-learn
cutlet
IPython
unidic-lite # cutlet (https://github.com/polm/cutlet)
pytest
pykakasi
srt
streamlit-aggrid
fastparquet
fugashi[unidic-lite]
furigana
googletrans==3.1.0a0
gtts
streamlit-authenticator