pandas
bs4
requests
seaborn
mecab
numpy
streamlit
scikit-learn
cutlet
IPython
unidic-lite # cutlet (https://github.com/polm/cutlet)
pytest
pykakasi
srt
streamlit-aggrid
fugashi[unidic-lite]
furigana
googletrans==3.1.0a0
gtts